@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');



.containeres{
    margin-top: 4px;
    min-height: 100vh;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
    text-align: center;

}

.containeres form{
    text-align: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    border: #545252 solid 1px;
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.containeres form .inputBox{

    margin-top: 20px;
}

.containeres form .inputBox span{
    text-align: center;
    display: flex;
    margin-top: 5px;
    color:#999;
    padding-bottom: 5px;
}




.containeres form .submit-btn{
    background-image: linear-gradient(to right, #494a4a, #273636,#170D25);
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 15px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.containeres form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.containeres .card-container{
    margin-bottom: -150px;
    position: relative;
    min-height: 250px;
    width: 400px;
}

.containeres .card-container .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background-image: linear-gradient(to right, #494a4a, #273636,#170D25);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.containeres .card-container .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

.containeres .card-container .front .image img{
    height: 50px;
}

.containeres .card-container .front .card-number-box{
    padding:30px 0;
    font-size: 22px;
    color:#fff;
}

.containeres .card-container .front .flexbox{
    display: flex;
}

.containeres .card-container .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.containeres .card-container .front .flexbox .box{
    font-size: 15px;
    color:#fff;
}

.containeres .card-container .back{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.containeres .card-container .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.containeres .card-container.back .box{
    padding: 0 20px;
}

.containeres .card-container .back .box span{
    color:#fff;
    font-size: 15px;
}

.containeres .card-container .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.containeres .card-container .back .box img{
    margin-top: 30px;
    height: 30px;
}